.who
    
  &__background
    padding: 67px 0 64px 113px
    width: 100%
    background-image: linear-gradient(131deg, #078da2 -14%, #cebbe3 100%)
    @media screen and (max-width: 1280px)
      padding-left: 5vw

  &__text-block
    color: #fff
    display: flex
    justify-content: space-between

  &__title
    font-size: 38px
    font-weight: 900

  &__logo
    width: 267px
    height: auto
    margin: 41px 0
    position: relative
    right: 5px

  &__text
    font-size: 20px
    margin-bottom: 41px
    max-width: 329px

  &__bolded-text
    font-weight: 900

  &__button
    border-radius: 28px
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    background-color: #fff
    text-align: center
    align-items: center
    font-size: 16px
    font-weight: 900
    color: #61aacf
    padding: 19px 53px 18px 56px
    display: inline-block
    &:hover
      background-color:  #61aacf
      color: white

  &__img-container
    display: flex
    align-items: center
    background: linear-gradient(#078da2, #cebbe3);


  &__image
    height: auto
    max-width: 842px
    @media screen and (max-width: 1280px)
      width: 65vw
      

  