.centered {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.centered-vertically {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("src/header_background.png");
  background-repeat: no-repeat;
  z-index: 0;
}

.header__content-wrapper {
  width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 22px;
  margin-left: 131px;
  margin-right: 229px;
  margin-bottom: 35px;
  position: relative;
}

@media (min-width: 851px) and (max-width: 1210px) {
  .header__nav {
    margin-left: 60px;
    margin-right: 110px;
  }
}

@media screen and (max-width: 850px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.header__nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  .header__nav-left {
    margin-bottom: 22px;
  }
}

.header__nav-title {
  font-size: 22px;
  font-weight: 900;
}

.header__nav-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 850px) {
  .header__nav-right {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__nav-category {
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
}

.header__nav-category:hover {
  color: #000;
}

.header__nav-category--who {
  margin-left: 50px;
  margin-right: 53px;
}

@media (min-width: 851px) and (max-width: 1100px) {
  .header__nav-category--who {
    margin: 0 20px;
  }
}

@media screen and (max-width: 850px) {
  .header__nav-category--who {
    margin: 5px 0;
  }
}

.header__nav-category--features {
  margin-right: 47px;
}

@media (min-width: 851px) and (max-width: 1100px) {
  .header__nav-category--features {
    margin-right: 20px;
  }
}

@media screen and (max-width: 850px) {
  .header__nav-category--features {
    margin: 5px 0;
  }
}

.header__nav-category--app {
  margin-right: 54px;
}

@media (min-width: 851px) and (max-width: 1100px) {
  .header__nav-category--app {
    margin-right: 20px;
  }
}

@media screen and (max-width: 850px) {
  .header__nav-category--app {
    margin: 5px 0;
  }
}

.header__icon {
  width: 40px;
  height: 40px;
}

.header__container {
  margin: 0 223px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 911px) and (max-width: 1210px) {
  .header__container {
    margin: 0 100px;
  }
}

@media screen and (max-width: 910px) {
  .header__container {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 497px;
  margin-top: 89px;
}

@media screen and (max-width: 910px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
}

.header__content-title {
  font-size: 48px;
  font-weight: 900;
}

@media screen and (max-width: 850px) {
  .header__content-title {
    font-size: 24px;
    text-align: center;
    max-width: 320px;
  }
}

.header__phone-number {
  border-radius: 25px;
  border: solid 1px #d0d7dd;
  background-color: #fff;
  max-width: 491px;
  margin: 60px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 851px) and (max-width: 910px) {
  .header__phone-number {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .header__phone-number {
    margin: 30px 0;
    max-width: 320px;
  }
}

.header__placeholder {
  width: 68%;
  font-size: 18px;
  text-align: left;
  color: rgba(16, 16, 16, 0.39);
  margin-left: 18px;
  height: 95%;
  border: none;
}

.header__placeholder:focus {
  outline: none;
}

.header__send-button {
  width: 32%;
  font-size: 18px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  height: 44px;
  border-radius: 22px;
  background-color: #43b8d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 4px;
  text-decoration: none;
}

.header__send-button:hover {
  background-color: #000;
  color: #fff;
  font-weight: 900;
}

.header__info {
  font-size: 12px;
  letter-spacing: -0.33px;
  text-align: left;
  max-width: 300px;
  margin-bottom: 39px;
}

@media screen and (max-width: 850px) {
  .header__info {
    text-align: center;
    margin-bottom: 30px;
  }
}

.header__terms {
  font-weight: 900;
  color: #c4ede4;
  text-decoration: none;
}

.header__terms:hover {
  color: #000;
}

.header__download-app {
  width: 128px;
  height: 40px;
}

@media screen and (max-width: 910px) {
  .header__download-app {
    margin-bottom: 30px;
  }
}

.header__images-container {
  max-width: 362px;
}

@media screen and (max-width: 365px) {
  .header__images-container {
    width: 100%;
  }
}

.header__images-container .slick-arrow {
  display: none !important;
}

.header__phone-image {
  margin-bottom: 58px;
}

.footer {
  background-color: #242640;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer a {
  text-decoration: none;
}

.footer__title {
  font-size: 32px;
  font-weight: 900;
  color: #fff;
  padding-top: 64px;
  padding-bottom: 14px;
}

.footer__title:hover {
  color: #078da2;
}

.footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 460px) {
  .footer__line {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__line--lower-footer {
  padding: 36px 0 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .footer__line--lower-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__newline-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__space-below23 {
  padding-bottom: 23px;
}

@media screen and (max-width: 460px) {
  .footer__space-below23--on-mobile {
    padding-bottom: 23px;
  }
}

.footer__space-below65 {
  padding-bottom: 65px;
}

.footer__icon--location, .footer__icon--phone, .footer__icon--email {
  stroke: #fff;
  opacity: 0.5;
  fill: transparent;
}

.footer__icon--facebook, .footer__icon--youtube, .footer__icon--twitter, .footer__icon--instagram {
  fill: #fff;
}

.footer__icon--facebook:hover, .footer__icon--youtube:hover, .footer__icon--twitter:hover, .footer__icon--instagram:hover {
  fill: #078da2;
}

.footer__icon--location {
  margin: 0 13px 0 30px;
}

@media screen and (max-width: 460px) {
  .footer__icon--location {
    margin-left: 0;
  }
}

.footer__icon--phone {
  margin: 0 7px 0 25px;
}

@media screen and (max-width: 460px) {
  .footer__icon--phone {
    margin-left: 0;
  }
}

.footer__icon--email {
  margin: 0 10px 0 50px;
}

@media screen and (max-width: 460px) {
  .footer__icon--email {
    margin-left: 0;
  }
}

.footer__icon--filler {
  display: inline-block;
  height: 5px !important;
  font-size: 5px;
}

@media screen and (min-width: 461px) {
  .footer__icon--filler {
    display: none !important;
  }
}

.footer__padding-right {
  margin-right: 42px;
}

@media screen and (max-width: 1050px) {
  .footer__padding-right {
    margin-right: 10px;
  }
}

.footer__divider {
  height: 0.5px;
  width: 100%;
  opacity: 0.2;
  background-color: #707070;
  display: inline-block;
  margin: 0 auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 460px) {
  .footer__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__container--width100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: between;
      -ms-flex-pack: between;
          justify-content: between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 460px) {
  .footer__container--width100 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__text {
  opacity: 0.5;
}

.footer__text:hover {
  opacity: 1;
}

.footer__img-hover-style:hover .footer__text, .footer__img-hover-style:hover .footer__icon--location, .footer__img-hover-style:hover .footer__icon--phone, .footer__img-hover-style:hover .footer__icon--email {
  opacity: 1;
}

.footer__icon-container {
  padding-right: 121px;
}

@media screen and (max-width: 850px) {
  .footer__icon-container {
    padding: 0;
  }
}

.footer__text--lower-footer {
  position: relative;
  left: 80px;
}

.footer__text--lower-footer br {
  display: none;
}

@media (min-width: 851px) and (max-width: 1050px) {
  .footer__text--lower-footer {
    left: 32px;
  }
}

@media screen and (max-width: 850px) {
  .footer__text--lower-footer {
    position: static;
    padding: 20px 0;
  }
}

@media screen and (max-width: 325px) {
  .footer__text--lower-footer br {
    display: initial;
  }
}

.logo--footer {
  width: 96px;
  height: auto;
  padding-left: 62px;
}

@media screen and (max-width: 850px) {
  .logo--footer {
    padding: 0;
  }
}

.lower-wave {
  position: relative;
  width: 100%;
}

.lower-wave__background-container {
  position: relative;
  bottom: -1px;
  z-index: -1;
}

.lower-wave__background {
  height: 590px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  z-index: -1;
  background-image: url("src/wave.png");
}

.lower-wave__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.lower-wave__text {
  padding: 8px 0 42px;
  font-size: 24px;
  font-weight: 300;
}

.lower-wave__title {
  padding-top: 258px;
  font-size: 38px;
  font-weight: 900;
}

.lower-wave__title br {
  display: none;
}

@media screen and (max-width: 460px) {
  .lower-wave__title {
    text-align: center;
    padding-top: 70px;
  }
  .lower-wave__title br {
    display: initial;
  }
}

.lower-wave__app-button {
  margin-bottom: 137px;
}

.app-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px 0 100px;
}

@media screen and (max-width: 550px) {
  .app-preview {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.app-preview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (min-width: 861px) and (max-width: 1100px) {
  .app-preview__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 860px) {
  .app-preview__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.app-preview__img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1100px) {
  .app-preview__img-container {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.app-preview__additional-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 1100px) {
  .app-preview__additional-container {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media screen and (max-width: 860px) {
  .app-preview__additional-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.app-preview__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 340px) {
  .app-preview__img {
    width: 100%;
    height: auto;
  }
}

.app-preview__title {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 8px;
  text-align: center;
}

.app-preview__note {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  font-weight: 300;
  color: #969696;
  margin-bottom: 60px;
}

@media screen and (max-width: 340px) {
  .app-preview__note {
    text-align: center;
  }
}

.app-preview__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 52px;
}

@media screen and (max-width: 480px) {
  .app-preview__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.app-preview #app-preview__link1 {
  padding-right: 25px;
  padding-left: 27px;
}

.app-preview #app-preview__link2 {
  padding-right: 19px;
  padding-left: 40px;
}

.app-preview #app-preview__link3 {
  padding-right: 19px;
  padding-left: 19px;
}

.app-preview #app-preview__link4 {
  padding-right: 11px;
  padding-left: 19px;
}

@media (min-width: 331px) and (max-width: 480px) {
  .app-preview #app-preview__link1, .app-preview #app-preview__link2, .app-preview #app-preview__link3, .app-preview #app-preview__link4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 330px) {
  .app-preview #app-preview__link1, .app-preview #app-preview__link2, .app-preview #app-preview__link3, .app-preview #app-preview__link4 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.app-preview__links {
  position: relative;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.23px;
  color: #557dc9;
  opacity: 0.4;
  padding-bottom: 13px;
  border-bottom: solid 1px gray;
  text-align: center;
}

.app-preview__links br {
  display: none;
}

@media screen and (max-width: 500px) {
  .app-preview__links br {
    display: initial;
  }
}

.app-preview__links:hover {
  padding-bottom: 12px;
  margin-bottom: -1px;
  border-bottom: solid 3px #557dc9;
  opacity: 1;
}

.app-preview__active-link {
  padding-bottom: 12px;
  margin-bottom: -1px;
  border-bottom: solid 3px #557dc9;
  opacity: 1;
}

.app-preview__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-preview__subitem-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
}

@media screen and (max-width: 860px) {
  .app-preview__subitem-container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 340px) {
  .app-preview__subitem-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.app-preview__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  right: 15px;
}

@media screen and (max-width: 860px) {
  .app-preview__icon {
    position: static;
  }
}

@media screen and (max-width: 340px) {
  .app-preview__icon {
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
  }
}

.app-preview__item-text-container {
  max-width: 424px;
  position: relative;
  left: 27px;
}

@media screen and (max-width: 860px) {
  .app-preview__item-text-container {
    position: static;
  }
}

.app-preview__bolded-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 900;
}

.app-preview__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  color: #969696;
}

.features {
  text-align: center;
  margin: 82px 112px 0 118px;
}

@media screen and (max-width: 735px) {
  .features {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.features__title {
  font-size: 38px;
  font-weight: 900;
  color: #2f2f2f;
  margin-bottom: 10px;
}

.features__note {
  font-size: 24px;
  font-weight: 300;
  color: #969696;
  max-width: 610px;
  margin: 0 auto;
  margin-bottom: 67px;
}

.features__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  padding: 0 5px;
}

@media (min-width: 986px) and (max-width: 1230px) {
  .features__item {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
}

@media (min-width: 736px) and (max-width: 985px) {
  .features__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media screen and (max-width: 735px) {
  .features__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.features__item a {
  text-decoration: none;
}

.features__item-divider {
  width: 60px;
  height: 2px;
  background-color: #557dc9;
  margin: 35px 0 19px;
}

.features__item-title {
  font-size: 20px;
  font-weight: 900;
  color: #2f2f2f;
  margin-bottom: 19px;
}

.features__item-note {
  font-size: 16px;
  color: #969696;
  margin-bottom: 14px;
  min-height: 70px;
  max-width: 265px;
}

.features__item-more {
  font-size: 14px;
  font-weight: 900;
  color: #3dbdc5;
  margin-bottom: 40px;
}

.features__item-more:hover {
  color: black;
}

.features__item-more:hover path {
  stroke: black;
}

.who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 526px;
  width: 100%;
}

@media screen and (max-width: 1090px) {
  .who {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.who__background {
  background-image: url("src/who_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

@media (min-width: 1091px) and (max-width: 1440px) {
  .who__background {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media screen and (max-width: 1090px) {
  .who__background {
    width: 100%;
    background-size: cover;
  }
}

.who__text-block {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 598px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1090px) {
  .who__text-block {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.who__title {
  padding-left: 120px;
  margin-top: 67px;
  font-size: 38px;
  font-weight: 900;
}

@media screen and (max-width: 1090px) {
  .who__title {
    padding: 0;
  }
}

.who__logo {
  padding-left: 120px;
  width: 267px;
  height: auto;
  margin: 25px 0;
  position: relative;
  z-index: 1000;
  right: 5px;
}

@media screen and (max-width: 1090px) {
  .who__logo {
    padding: 0;
  }
}

.who__text {
  padding-left: 120px;
  font-size: 20px;
  margin-bottom: 41px;
  max-width: 329px;
}

@media screen and (max-width: 1090px) {
  .who__text {
    padding: 0;
  }
}

.who__bolded-text {
  font-weight: 900;
}

.who__button {
  border-radius: 28px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 900;
  color: #61aacf;
  padding: 19px 53px 18px 56px;
  margin-left: 120px;
  display: inline-block;
  max-width: 163px;
  margin-bottom: 64px;
  text-decoration: none;
}

.who__button:hover {
  background-color: #ffccff;
  color: #000;
}

@media screen and (max-width: 1090px) {
  .who__button {
    margin-left: 0;
  }
}

.who__image-container {
  width: 842px;
  height: 526px;
}

@media (min-width: 1091px) and (max-width: 1440px) {
  .who__image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 1090px) {
  .who__image-container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: static;
  }
}

@media (min-width: 1091px) and (max-width: 1440px) {
  .who__image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
}

@media screen and (max-width: 1090px) {
  .who__image {
    width: 100%;
    height: auto;
  }
}

.welcome {
  text-align: center;
  margin: 0 5%;
  position: relative;
  bottom: 75px;
}

@media screen and (max-width: 1260px) {
  .welcome {
    position: static;
    margin-top: 35px;
  }
}

.welcome__icon {
  height: 97px;
  width: 97px;
  margin-bottom: 33px;
}

.welcome__title {
  font-size: 38px;
  font-weight: 900;
  color: #2f2f2f;
}

.welcome__note {
  font-size: 26px;
  font-weight: 300;
  color: #969696;
  margin: 11px 0 23px;
}

.welcome__text {
  font-size: 20px;
  color: #6e6e6e;
  max-width: 1005px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.welcome__logo {
  width: 174px;
  height: 36px;
}

@media screen and (max-width: 1260px) {
  .welcome__logo {
    margin-bottom: 64px;
  }
}

.modal {
  position: fixed;
  top: calc(50% - 302px);
  left: calc(50% - 260.5px);
  width: 100%;
  max-width: 521px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  z-index: 100;
  display: none;
}

@media screen and (max-width: 525px) {
  .modal {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and (max-height: 605px) {
  .modal {
    position: absolute;
    top: 0;
  }
}

.modal__top-container {
  background-image: linear-gradient(109deg, #078da2 -14%, #cebbe3 100%);
}

.modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  stroke: #fff;
}

.modal__close:hover {
  stroke: #000;
}

.modal__title {
  font-size: 28px;
  font-weight: 900;
  padding: 47px 0 19px;
}

.modal__note {
  font-size: 16px;
  max-width: 381px;
  margin: 0 auto;
  padding-bottom: 31px;
}

.modal__bottom-container {
  background-color: #fff;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 392px;
  margin: 0 auto;
}

.modal__name, .modal__email, .modal__message {
  width: 100%;
  max-width: 350px;
  margin: 0;
  font-size: 16px;
  font-family: Lato;
  margin-bottom: 19px;
  border-radius: 2.5px;
  border: solid 1px #c3c3c3;
  color: #cccccc;
  padding: 12px 20px;
}

@media screen and (max-width: 525px) {
  .modal__name, .modal__email, .modal__message {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 323px) {
  .modal__name, .modal__email, .modal__message {
    width: 100%;
  }
}

.modal__name:focus, .modal__email:focus, .modal__message:focus {
  outline: none;
  border-color: #000;
  color: #000;
}

.modal__name {
  margin-top: 50px;
}

.modal__message {
  resize: none;
  margin-bottom: 101px;
  max-height: 130px;
}

@media screen and (max-width: 525px) {
  .modal__message {
    margin-bottom: 19px;
  }
}

.modal__btn-send {
  font-family: Lato;
  border: none;
  border-radius: 22px;
  width: 100%;
  max-width: 177px;
  background-color: #557dc9;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  padding: 13px 0 12px;
  position: absolute;
  right: 0;
  bottom: 38px;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .modal__btn-send {
    position: static;
    margin-bottom: 19px;
  }
}

.modal__btn-send:hover {
  background-color: #000;
}

.mod__blur {
  display: none;
  position: fixed;
  left: 0;
  z-index: 1;
  height: inherit;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}

body {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
