.welcome {
  text-align: center;
  margin: 0 5%;
  position: relative;
  bottom: 75px;
}

@media screen and (max-width: 910px) {
  .welcome {
    position: static;
    margin-top: 35px;
  }
}

.welcome__icon {
  height: 97px;
  width: 97px;
  margin-bottom: 33px;
}

.welcome__title {
  font-size: 38px;
  font-weight: 900;
  color: #2f2f2f;
}

.welcome__note {
  font-size: 26px;
  font-weight: 300;
  color: #969696;
  margin: 11px 0 23px;
}

.welcome__text {
  font-size: 20px;
  color: #6e6e6e;
  max-width: 1005px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.welcome__logo {
  width: 174px;
  height: 36px;
}

@media screen and (max-width: 1260px) {
  .welcome__logo {
    margin-bottom: 64px;
  }
}
