.footer {
  background-color: #242640;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-size: 32px;
  font-weight: 900;
  color: #fff;
  padding-top: 64px;
  padding-bottom: 14px;
}

.footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.5;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 460px) {
  .footer__line {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__line--added-padding {
  padding: 23px 0 60px 0 !important;
}

@media screen and (max-width: 460px) {
  .footer__line--added-padding {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: left;
        align-content: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
}

.footer__icon--location {
  padding: 0 13px 0 30px;
}

@media screen and (max-width: 460px) {
  .footer__icon--location {
    padding-left: 0;
  }
}

.footer__icon--phone {
  padding: 0 7px 0 25px;
}

@media screen and (max-width: 460px) {
  .footer__icon--phone {
    padding-left: 0;
  }
}

.footer__icon--email {
  padding: 0 10px 0 50px;
}

@media screen and (max-width: 460px) {
  .footer__icon--email {
    padding-left: 0;
  }
}

.footer__icon--filler {
  display: inline;
  height: 5px !important;
  font-size: 5px;
}

@media screen and (min-width: 461px) {
  .footer__icon--filler {
    display: none !important;
  }
}

.footer__divider {
  height: 0.5px;
  width: 100%;
  opacity: 0.2;
  background-color: #707070;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 460px) {
  .footer__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  .footer__padding-when-breaking {
    padding-bottom: 23px;
  }
}
