.footer {
  background-color: #242640;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-size: 32px;
  font-weight: 900;
  color: #fff;
  padding-top: 64px;
  padding-bottom: 14px;
}

.footer__title:hover {
  color: #078da2;
}

.footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 460px) {
  .footer__line {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__line--lower-footer {
  padding: 36px 0 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .footer__line--lower-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__newline-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__space-below23 {
  padding-bottom: 23px;
}

@media screen and (max-width: 460px) {
  .footer__space-below23--on-mobile {
    padding-bottom: 23px;
  }
}

.footer__space-below65 {
  padding-bottom: 65px;
}

.footer__icon--location {
  margin: 0 13px 0 30px;
}

@media screen and (max-width: 460px) {
  .footer__icon--location {
    margin-left: 0;
  }
}

.footer__icon--phone {
  margin: 0 7px 0 25px;
}

@media screen and (max-width: 460px) {
  .footer__icon--phone {
    margin-left: 0;
  }
}

.footer__icon--email {
  margin: 0 10px 0 50px;
}

@media screen and (max-width: 460px) {
  .footer__icon--email {
    margin-left: 0;
  }
}

.footer__icon--filler {
  display: inline-block;
  height: 5px !important;
  font-size: 5px;
}

@media screen and (min-width: 461px) {
  .footer__icon--filler {
    display: none !important;
  }
}

.footer__padding-right {
  margin-right: 42px;
}

@media screen and (max-width: 1050px) {
  .footer__padding-right {
    margin-right: 10px;
  }
}

.footer__divider {
  height: 0.5px;
  width: 100%;
  opacity: 0.2;
  background-color: #707070;
  display: inline-block;
  margin: 0 auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 460px) {
  .footer__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__container--width100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: between;
      -ms-flex-pack: between;
          justify-content: between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 460px) {
  .footer__container--width100 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__text {
  opacity: 0.5;
}

.footer__text:hover {
  opacity: 1;
}

.footer__img-hover-style:hover .footer__text {
  opacity: 1;
}

.footer__icon-container {
  padding-right: 121px;
}

@media screen and (max-width: 850px) {
  .footer__icon-container {
    padding: 0;
  }
}

.footer__text--lower-footer {
  position: relative;
  left: 80px;
}

.footer__text--lower-footer br {
  display: none;
}

@media (min-width: 851px) and (max-width: 1050px) {
  .footer__text--lower-footer {
    left: 32px;
  }
}

@media screen and (max-width: 850px) {
  .footer__text--lower-footer {
    position: static;
    padding: 20px 0;
  }
}

@media screen and (max-width: 325px) {
  .footer__text--lower-footer br {
    display: initial;
  }
}
